@charset "UTF-8";
body {
  box-sizing: border-box;
  font-family: 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', sans-serif;
  text-decoration: none;
  font-size: 16px;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/*=============================
* header
=============================*/
.header {
  position: fixed;
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  height: 84px;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.09);
  z-index: 100;
}

.header__title {
  font-size: 24px;
}

.header__nav {
  display: none;
}

.header__nav.active {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #fff;
  width: 250px;
  height: 100vh;
  padding: 84px 0 0 50px;
  z-index: 100;
}

.header__navItem {
  margin-top: 30px;
}

.header__navItem a {
  font-size: 14px;
  color: #008b8b;
}

.header__navBg.active {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #000;
  opacity: 0.7;
  z-index: 99;
}

.header__navBtnWrapper {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
}

.header__navBtn {
  position: relative;
  width: 50px;
  height: 44px;
  margin: 20px;
  cursor: pointer;
}

.header__navBtnLine {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #000;
  border-radius: 4px;
  transition: all .4s;
}

.header__navBtnLine:nth-of-type(1) {
  top: 0;
}

.header__navBtnLine:nth-of-type(2) {
  top: 20px;
}

.header__navBtnLine:nth-of-type(3) {
  bottom: 0;
}

.header__navBtnWrapper.active .header__navBtn .header__navBtnLine {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #000;
  border-radius: 4px;
  transition: all .4s;
}

.header__navBtnWrapper.active .header__navBtn .header__navBtnLine:nth-of-type(1) {
  -webkit-transform: translateY(20px) rotate(-45deg);
  transform: translateY(20px) rotate(-45deg);
}

.header__navBtnWrapper.active .header__navBtn .header__navBtnLine:nth-of-type(2) {
  opacity: 0;
}

.header__navBtnWrapper.active .header__navBtn .header__navBtnLine:nth-of-type(3) {
  -webkit-transform: translateY(-20px) rotate(45deg);
  transform: translateY(-20px) rotate(45deg);
}

/*=============================
* main
=============================*/
.mainVisual {
  width: 100%;
  padding-top: 84px;
  font-size: 30px;
  text-align: center;
}

.mainVisual p {
  background-color: #008b8b;
  color: #fff;
  height: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section {
  width: 100%;
  margin-top: 80px;
}

.section__inner {
  margin: 0 auto;
  max-width: 80%;
  width: 960px;
}

.section__title {
  background-color: #80c5c5;
  border-radius: 4px 4px 0 0;
  padding: 30px;
  font-size: 20px;
  color: #fff;
}

.section__detail {
  height: 250px;
  padding: 30px;
  border: 2px solid #80c5c5;
}

.modalBox {
  position: relative;
  margin: 0 auto;
  text-align: center;
  margin-top: 60px;
}

.modalBox__btn, .modalBox__modalCloseBtn {
  cursor: pointer;
  width: 200px;
  padding: 20px;
  border: 1px solid #008b8b;
  border-radius: 4px;
  text-align: center;
  margin: 0 auto;
}

.modalBox__mask {
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.modalBox__mask.is-hidden {
  display: none;
}

.modalBox__modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  max-width: 300px;
  width: 80%;
  padding: 20px;
  border-radius: 4px;
}

.modalBox__modal.is-hidden {
  display: none;
}

.modalBox__modal p {
  padding-bottom: 20px;
}

.dropdownMenu__list {
  display: flex;
  max-width: 400px;
  height: 40px;
  margin: 0 auto;
  color: #fff;
}

.dropdownMenu__list > li {
  width: 400px;
  height: 40px;
  text-align: center;
  margin-left: 1px;
  background-color: #80C5C5;
  line-height: 2.5;
}

.dropdownMenu__list > li:first-child {
  margin-left: 0px;
}

.dropdownMenu__listItem {
  display: none;
  background-color: #80C5C5;
}

.dropdownMenu__listItem > li {
  height: 40px;
  line-height: 2.5;
  background-color: #008B8B;
  margin-top: 1px;
}

.dropdownMenu__listItem > li a {
  color: #fff;
}

.smoothScrollWrapper {
  margin-top: 60px;
  text-align: center;
}

.smoothScrollWrapper .smoothScroll {
  text-align: center;
  display: inline-block;
  width: 200px;
  padding: 20px;
  border: 1px solid darkcyan;
  border-radius: 4px;
  text-align: center;
  color: #000;
  cursor: pointer;
}
