@charset "UTF-8";

body {
  font-family: 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', sans-serif;
  text-decoration: none;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style:none;
}

/*=============================
* header
=============================*/
.header {
  position: fixed;
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  height: 84px;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, .09);
  z-index: 100;

  &__title {
    font-size: 24px;
  }

  &__nav {
    display: none;

    &.active {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      background-color: #fff;
      width: 250px;
      height: 100vh;
      padding: 84px 0 0 50px;
      z-index: 100;
    }
  }

  &__navItem {
    margin-top: 30px;

    a {
      font-size: 14px;
      color: #008b8b;
    }
  }

  &__navBg {
    &.active {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      background: #000;
      opacity: 0.7;
      z-index: 99;
    }
  }

  &__navBtnWrapper {
      position: fixed;
      top: 0;
      right: 0;
      z-index: 100;
  }

  &__navBtn {
    position: relative;
    width: 50px;
    height: 44px;
    margin: 20px;
    cursor: pointer;
  }

  &__navBtnLine {
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #000;
    border-radius: 4px;
    transition: all .4s;

    &:nth-of-type(1) {
      top: 0;
    }

    &:nth-of-type(2) {
      top: 20px;
    }

    &:nth-of-type(3) {
      bottom: 0;
    }
  }

  &__navBtnWrapper {
    &.active {
      .header__navBtn {
        .header__navBtnLine {
          position: absolute;
          display: block;
          left: 0;
          width: 100%;
          height: 4px;
          background-color: #000;
          border-radius: 4px;
          transition: all .4s;

          &:nth-of-type(1) {
            -webkit-transform: translateY(20px) rotate(-45deg);
            transform: translateY(20px) rotate(-45deg);
          }

          &:nth-of-type(2) {
            opacity: 0;
          }
          &:nth-of-type(3) {
            -webkit-transform: translateY(-20px) rotate(45deg);
            transform: translateY(-20px) rotate(45deg);
          }
        }
      }
    }
  }
}

/*=============================
* main
=============================*/
.mainVisual {
  width: 100%;
  padding-top: 84px;
  font-size: 30px;
  text-align: center;
  p {
    background-color: #008b8b;
    color: #fff;
    height: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

// section
.section {
  width: 100%;
  margin-top: 80px;

  &__inner {
    margin: 0 auto;
    max-width: 80%;
    width: 960px;
  }
  
  &__title  {
    background-color: #80c5c5;
    border-radius: 4px 4px 0 0;
    padding: 30px;
    font-size: 20px;
    color: #fff;
  }
  
  &__detail {
    height: 310px;
    padding: 30px;
    border: 2px solid #80c5c5;
  }
}

// modal
.modalBox {
  position: relative;
  margin: 0 auto;
  text-align: center;
  margin-top: 60px;

  &__btn,&__modalCloseBtn {
    cursor: pointer;
    width: 240px;
    padding: 20px;
    border: 1px solid #008b8b;
    border-radius: 4px;
    text-align: center;
    margin: 0 auto;
  }

  &__mask {
    background: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    &.is-hidden {
      display: none;
    }
  }

  &__modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    max-width: 300px;
    width: 80%;
    padding: 20px;
    border-radius: 4px;

    &.is-hidden {
      display: none;
    }
    

    p {
      padding-bottom: 20px;
    }
  }
}

// Dropdown Menu
.dropdownMenu {
  &__list {
    display: flex;
    max-width: 400px;
    height: 40px;
    margin: 0 auto;
    color: #fff;
    
    > li {
      width: 400px;
      height: 40px;
      text-align: center;
      margin-left: 1px;
      background-color: #80C5C5;
      line-height: 2.5;

      &:first-child {
        margin-left: 0px;
      }
    }
  }

  &__listItem {
    display: none;

    &.is-active {
      display: block;
    }

    > li {
      height: 40px;
      line-height: 2.5;
      background-color: #008B8B;
      margin-top: 1px;

      &:hover {
        opacity: 0.8;
      }

      a {
        color: #fff;
      }
    }
  }
}

// smoothScroll
.smoothScrollWrapper {
  margin-top: 60px;
  text-align: center;

  .smoothScroll {
    text-align: center;
    display: inline-block;
    width: 240px;
    padding: 20px;
    border: 1px solid rgb(0, 139, 139);
    border-radius: 4px;
    text-align: center;
    color: #000;
    cursor: pointer;
  }
}

// Tab
.tab {
  &__list {
    display: flex;
    max-width: 600px;
    height: 40px;
    margin: 0 auto;
    color: #fff;

    > li {
      width: 600px;
      height: 40px;
      text-align: center;
      margin-left: 1px;
      background-color: #80C5C5;
      line-height: 2.5;
      cursor: pointer;

      &:first-child {
        margin-left: 0px;
      }

      &.is-active {
        background-color: #008B8B;
      }
    }
  }

  &__Box {
    display: none;
    max-width: 600px;
    height: 150px;
    padding: 30px;
    line-height: 1.5;
    margin: 0 auto;
    color: #fff;
    background-color: #008B8B;

      &.is-active{
      display: block;
    }
  }
}

//Clusel(slick実装)
.clusel {
  &__slider {
    margin: 0 auto;
  }

  &__slidesList  {
    margin: 0 auto;
    width: 300px;
    height: 200px;

    li {
      position: relative;
      background-color: #80C5C5;
      line-height: 200px;
      text-align: center;

      a {
        display:inline-block;
        vertical-align: middle;
        line-height:normal;
      }
    }
  }

  /* slick setting */
  .slick-prev {
    left: -35px;
  }

  .slick-next:before,
  .slick-prev:before {
    content: '>';
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    line-height: 27px;
    color: #fff;
    font-weight: bold;
    border-radius: 50%;
    background-color: #008B8B;
    font-size: 16px;
  }
  
  .slick-prev:before {
    content: '<';
  }

  .slick-dots {
    li {
      border-radius: 50%;
      
      button {
        &::before {
        border-radius: 50%;
        font-size: 0;
        }
      }
    }
  }
}